<ion-view view-title="File Storage">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <h2>File Storage Demo</h2>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Some Text</span>
          <input type="text" placeholder="enter some text..." id="demo-txt">
        </label>
        <br>
        <button class="button button-outline button-positive" ng-click="saveToFile()">Save To File</button>
        <button class="button button-outline button-positive" ng-click="readFromFile()">Read From File</button>

      </div>
    </div>

  </ion-content>
</ion-view>