<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Take/Upload Photo</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGetPhotoModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list" ng-controller='GetPhotoCtrl'>
      <label class="item">
        <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
      </label>
      <label class="item">
        <button ng-click="openPhotoLibrary()" class="button button-block button-primary">Upload Photo</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
