<ion-view view-title="Profile">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>585-123-4567</p>
      </div>

      <div class="item item-body">
        bio info...
        ... ... ...
        ... ... ...
      </div>
    </div>

  </ion-content>
</ion-view>