/* Empty. Add your own CSS if you like */
.bg-tiger{
  background:rgb(247,148,30) !important;
  color:#FFF !important;
}

.item-img{
  max-width: 100%;
  margin:0 auto;
}

.item-img-frame{
  border:1px solid #c0c0c0;
}

.popup-container .popup{
  width:auto;
}

#gmap{
  width:100%;
  height:300px;
}

#filters-icon{
  margin-right: 1em;
  cursor: pointer;
}

.no-pad{
  padding:0;
}

.flt-l{
  float:left;
}

.flt-r{
  float:right;
}

#premium-cont{
  /*-webkit-overflow-scrolling: touch;*/
  /*overflow-x: auto;*/
  /*overflow-y: hidden;*/
  /*white-space: nowrap;*/
}

.item-price{
  text-align: center;
  font-weight: bold;
}

.item-name{
  text-align: center;

}

.swipe-box{
  height: 120px;
  background-color: #BBB;
  text-align: center;
  margin:1em;
}